@media only screen and (max-width: 640px) {
  .hamburger {
    background: none;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 30px;
    width: 50px;
  }

  .cross {
    background: none;
    border: none;
    color: white;
    font-size: 75px;
    margin: -25px 2px 2px 7px;
  }

  #mobile-nav {
    display: block;
    width: 100vw;
  }

  #main-nav {
    display: none;
  }

  .nav-items {
    border: none;
    width: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .nav-items {
    list-style-type: cjk-ideographic;
    margin-top: -3em;
    padding-left: 2.5em;
  }

  .nav-items li {
    line-height: 2.3;
  }

  nav.bw > button {
    color: rgb(48, 41, 38);
  }

  /* nav.bw .nav-items > ul{
    list-style-type: none;
  } */

  nav.bw .nav-items > li a {
    color: rgb(48, 41, 38);
  }
}